<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% rows.forEach(function(row) { %>
      <tr>
        <td>
          <%= moment(row.date).format("DD MM YYYY hh:mm:ss") %>
        </td>

        <td>
          <%= row.details.split("by")[0].trim() %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
